Repository TecharoHQ/yeet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, go tool goimports -w

feat(mkapk): fix potential missing executable mode bits (#59)
  internal/mkapk/mkapk.go
  internal/mkapk/mkapk_test.go
Due: go tool goimports -w

chore(release): 0.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  207e97b5abcedd81ddc4a1167427b25ae6560a70
Due: none

fix(mkportable): copy documentation for sysexts
  internal/mkportable/mkportable.go
Due: go tool goimports -w

fix(mkportable): copy documentation for sysexts (#64)
  internal/mkportable/mkportable.go
Due: go tool goimports -w

chore(release): 0.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  d0bcc7063a744d5d0bc4e88386b05dad490c4b9b
Due: none

feat: build tarballs for windows
  cmd/yeet/main.go
  internal/mktarball/mktarball.go
  yeetfile.js
Due: prettier -w, go tool goimports -w

feat: expose erofs
  erofs/LICENSE
  erofs/README.md
  erofs/constants.go
  erofs/erofs.go
  erofs/erofs_test.go
  erofs/owner_unix.go
  erofs/owner_windows.go
  erofs/reader.go
  erofs/testdata/README.md
  erofs/testdata/toybox.img
  erofs/writer.go
  internal/mkportable/mkportable.go
Due: prettier -w, go tool goimports -w

test(erofs): fix tests
  erofs/erofs_test.go
Due: go tool goimports -w

ci: staticcheck doesn't need to install go
  .github/workflows/go.yml
Due: none

feat: expose erofs (#72)
  .github/workflows/go.yml
  erofs/LICENSE
  erofs/README.md
  erofs/constants.go
  erofs/erofs.go
  erofs/erofs_test.go
  erofs/owner_unix.go
  erofs/owner_windows.go
  erofs/reader.go
  erofs/testdata/README.md
  erofs/testdata/toybox.img
  erofs/writer.go
  internal/mkportable/mkportable.go
Due: prettier -w, go tool goimports -w

chore(release): 0.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  7fa6424bad1bdab271e5f3726ca1793fb49572d8
Due: none

feat(erofs): add seeking support to file handles
  erofs/erofs.go
  erofs/erofs_test.go
  erofs/reader.go
Due: go tool goimports -w

feat(erofs): add seeking support to file handles (#73)
  erofs/erofs.go
  erofs/erofs_test.go
  erofs/reader.go
Due: go tool goimports -w

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  bdfc8209cb5a3e86938dcdb17595492d424438ef
Due: none

ci: test on Go oldstable
  .github/workflows/go.yml
Due: none

chore(go.mod): reduce minimum go version
  go.mod
Due: none

chore(go.mod): properly downgrade go to 1.24
  go.mod
  go.sum
Due: none

ci: test on Go oldstable (#74)
  .github/workflows/go.yml
  go.mod
  go.sum
Due: none

ci(go): test on Windows too
  .github/workflows/go.yml
Due: none

fix: skip EndToEndInstall tests on non-Linux platforms (#77)
  go.mod
  internal/mkapk/mkapk_test.go
  internal/mkdeb/mkdeb_test.go
  internal/mkrpm/mkrpm_test.go
Due: go tool goimports -w

fix: support CI and usage on Windows (#76)
  .github/workflows/go.yml
  confyg/read_test.go
  erofs/writer.go
  go.mod
  internal/mkapk/mkapk_test.go
  internal/mkdeb/mkdeb_test.go
  internal/mkportable/mkportable.go
  internal/mkrpm/mkrpm_test.go
Due: go tool goimports -w

chore(release): 0.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  5530101ae67544e367eed63a1860933407dfefb2
Due: none

fix(confyg): support running tests on Windows
  confyg/read_test.go
Due: go tool goimports -w

fix(erofs): fix ownership and path calculation for Windows
  erofs/writer.go
Due: go tool goimports -w

fix(mkportable): close output file to fix tests on Windows
  internal/mkportable/mkportable.go
Due: go tool goimports -w

ci(go): enable Windows builds
  .github/workflows/go.yml
Due: none

feat(file): add file.glob() to yeetfile JS API
  cmd/yeet/main.go
  cmd/yeet/shell_test.go
  doc/api.md
  internal/fileglob/fileglob.go
  internal/fileglob/fileglob_test.go
Due: prettier -w, go tool goimports -w

feat(mktarball): use zip format for windows archives
  internal/mktarball/mktarball.go
  internal/mktarball/mktarball_test.go
Due: go tool goimports -w

test: build test packages for linux
  internal/mkapk/mkapk_test.go
  internal/mkdeb/mkdeb_test.go
  internal/mkportable/mkportable_test.go
  internal/mkrpm/mkrpm_test.go
  internal/mktarball/mktarball_test.go
Due: go tool goimports -w

feat: build tarballs for windows (#67)
  cmd/yeet/main.go
  internal/mkapk/mkapk_test.go
  internal/mkdeb/mkdeb_test.go
  internal/mkportable/mkportable_test.go
  internal/mkrpm/mkrpm_test.go
  internal/mktarball/mktarball.go
  internal/mktarball/mktarball_test.go
  yeetfile.js
Due: prettier -w, go tool goimports -w

fix(fileglob): harden glob matching and test error handling
  cmd/yeet/main.go
  internal/fileglob/fileglob.go
  internal/fileglob/fileglob_test.go
Due: go tool goimports -w

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  ab3d316f006363b682907c028d9ff8d46f59dcc4
Due: none

feat(file): add file.glob() to yeetfile JS API (#87)
  cmd/yeet/main.go
  cmd/yeet/shell_test.go
  doc/api.md
  internal/fileglob/fileglob.go
  internal/fileglob/fileglob_test.go
Due: prettier -w, go tool goimports -w

Path conditions:
  prettier -w: any of: **/*.{js,ts,html,json,css,scss,md,mdx}
  go tool goimports -w: any of: **/*.go
