Repository TecharoHQ/yeet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, go tool goimports -w

chore(confyg): fix linter error
  confyg/read.go
Due: go tool goimports -w

chore(mkportable): migrate to Xe/erofs
  go.mod
  go.sum
  internal/mkportable/mkportable.go
  internal/mkportable/mkportable_test.go
Due: go tool goimports -w

chore: remove legacy erofs package
  erofs/LICENSE
  erofs/README.md
  erofs/constants.go
  erofs/erofs.go
  erofs/erofs_test.go
  erofs/owner_unix.go
  erofs/owner_windows.go
  erofs/reader.go
  erofs/testdata/README.md
  erofs/testdata/toybox.img
  erofs/writer.go
Due: prettier -w, go tool goimports -w

ci(go): to move forwards we must bravely advance beyond the past
  .github/workflows/go.yml
Due: none

test(mkportable): test all build methods
  internal/mkportable/mkportable_test.go
Due: go tool goimports -w

chore: migrate erofs to package github.com/Xe/erofs (#102)
  .github/workflows/go.yml
  confyg/read.go
  erofs/LICENSE
  erofs/README.md
  erofs/constants.go
  erofs/erofs.go
  erofs/erofs_test.go
  erofs/owner_unix.go
  erofs/owner_windows.go
  erofs/reader.go
  erofs/testdata/README.md
  erofs/testdata/toybox.img
  erofs/writer.go
  go.mod
  go.sum
  internal/mkportable/mkportable.go
  internal/mkportable/mkportable_test.go
Due: prettier -w, go tool goimports -w

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  11f939a4cae808f4cf9fee1254faddb4fc0b810d
Due: none

fix(mkportable): ensure builds have non-zero byte count
  internal/mkportable/mkportable.go
  internal/mkportable/mkportable_test.go
Due: go tool goimports -w

fix(mkportable): bump Xe/erofs to v0.6.1 for reproducible sysext builds
  go.mod
  go.sum
Due: none

fix(mkportable): ensure builds have non-zero byte count (#103)
  go.mod
  go.sum
  internal/mkportable/mkportable.go
  internal/mkportable/mkportable_test.go
Due: go tool goimports -w

chore(release): 0.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  0e6de25d2ef5f12abe7272a5eb7b5153fa022829
Due: none

feat(yeet): add --filter flag for CEL build filtering
  cmd/yeet/main.go
  cmd/yeet/main_test.go
  doc/api.md
  go.mod
  go.sum
  internal/filter/filter.go
  internal/filter/filter_test.go
Due: prettier -w, go tool goimports -w

refactor(yeet): simplify build filter after review
  cmd/yeet/main.go
  cmd/yeet/main_test.go
  internal/filter/filter.go
  internal/filter/filter_test.go
Due: go tool goimports -w

fix(yeet): set confext.name to confext
  cmd/yeet/main.go
Due: go tool goimports -w

fix: restore antlr requirement in go.mod
  go.mod
Due: none

ci: remove staticcheck from the Go workflow
  .github/workflows/go.yml
Due: none

feat(yeet): add --filter flag for CEL build filtering (#104)
  .github/workflows/go.yml
  cmd/yeet/main.go
  cmd/yeet/main_test.go
  doc/api.md
  go.mod
  go.sum
  internal/filter/filter.go
  internal/filter/filter_test.go
Due: prettier -w, go tool goimports -w

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

Notes added by 'git notes add'
  d019622e69c483a76a73ea289214b6ae5f59d2a1
Due: none

Path conditions:
  prettier -w: any of: **/*.{js,ts,html,json,css,scss,md,mdx}
  go tool goimports -w: any of: **/*.go
